Repository We-are-Ounce/OUNCE_iOS, pull requests merged in 2020-07, with the labels that each got.

#5 Feature/loginview
  Ounce/Ounce.xcodeproj/project.pbxproj
  Ounce/Ounce.xcworkspace/xcuserdata/Junhyeon.xcuserdatad/UserInterfaceState.xcuserstate
  Ounce/Ounce/Global/Delegate/AppDelegate.swift
  Ounce/Ounce/Global/Enums/Font+Enum.swift
  Ounce/Ounce/Global/Extensions/UIColor+Extension.swift
  Ounce/Ounce/Global/Resources/Font/NotoSansKR-Black.otf
  Ounce/Ounce/Global/Resources/Font/NotoSansKR-Bold.otf
  Ounce/Ounce/Global/Resources/Font/NotoSansKR-Light.otf
  Ounce/Ounce/Global/Resources/Font/NotoSansKR-Medium.otf
  Ounce/Ounce/Global/Resources/Font/NotoSansKR-Regular.otf
  Ounce/Ounce/Global/Resources/Font/NotoSansKR-Thin.otf
  Ounce/Ounce/Global/Resources/Font/OFL.txt
  Ounce/Ounce/Global/Supporting Files/Info.plist
  Ounce/Ounce/Secene/Login/Stroyboards/Login.storyboard
  Ounce/Ounce/Secene/Login/ViewControllers/EmailVC+Constraint.swift
  Ounce/Ounce/Secene/Login/ViewControllers/EmailVC.swift
  Ounce/Ounce/Secene/Login/ViewControllers/IDVC+Constraint.swift
  Ounce/Ounce/Secene/Login/ViewControllers/IDVC.swift
  Ounce/Ounce/Secene/Login/ViewControllers/LoginVC+Constraint.swift
  Ounce/Ounce/Secene/Login/ViewControllers/LoginVC.swift
  Ounce/Ounce/Secene/Login/ViewControllers/Password+Constraint.swift
  Ounce/Ounce/Secene/Login/ViewControllers/PasswordVC.swift
  README.md
  resources/logo1.png
  resources/logo2.png
Labels: View, enhancement

#11 refactor : 로그인 뷰 수정 #10
  Ounce/Ounce.xcworkspace/xcuserdata/Junhyeon.xcuserdatad/UserInterfaceState.xcuserstate
  Ounce/Ounce/Global/Enums/Font+Enum.swift
  Ounce/Ounce/Secene/Browse/Storyboards/Browse.storyboard
  Ounce/Ounce/Secene/Login/Stroyboards/Login.storyboard
  Ounce/Ounce/Secene/Login/ViewControllers/LoginVC+Constraint.swift
  Ounce/Ounce/Secene/Login/ViewControllers/LoginVC.swift
  Ounce/Ounce/Secene/Post/Storyboards/Post.storyboard
Labels: View

#12 Feature/#2
  Ounce/Ounce.xcworkspace/xcuserdata/Junhyeon.xcuserdatad/UserInterfaceState.xcuserstate
  Ounce/Ounce/Global/Enums/Font+Enum.swift
  Ounce/Ounce/Global/Resources/Assets.xcassets/imgLogo.imageset/Contents.json
  Ounce/Ounce/Global/Resources/Assets.xcassets/imgLogo.imageset/imgLogo.png
  Ounce/Ounce/Global/Resources/Assets.xcassets/imgLogo.imageset/imgLogo@2x.png
  Ounce/Ounce/Global/Resources/Assets.xcassets/imgLogo.imageset/imgLogo@3x.png
  Ounce/Ounce/Global/Resources/Base.lproj/LaunchScreen.storyboard
  Ounce/Ounce/Secene/Login/ViewControllers/EmailVC+Constraint.swift
  Ounce/Ounce/Secene/Login/ViewControllers/EmailVC.swift
  Ounce/Ounce/Secene/Login/ViewControllers/LoginVC.swift
Labels: View, enhancement

#13 Feature/#3
  Ounce/Ounce.xcworkspace/xcuserdata/Junhyeon.xcuserdatad/UserInterfaceState.xcuserstate
  Ounce/Ounce/Secene/Login/ViewControllers/EmailVC.swift
  Ounce/Ounce/Secene/Login/ViewControllers/IDVC+Constraint.swift
  Ounce/Ounce/Secene/Login/ViewControllers/IDVC.swift
Labels: enhancement

#43 update:#42 뷰 수정
  Ounce/Ounce.xcodeproj/xcuserdata/Junhyeon.xcuserdatad/xcschemes/xcschememanagement.plist
  Ounce/Ounce/Secene/Browse/ViewControllers/BrowseSearchVC+Constraint.swift
  Ounce/Ounce/Secene/Browse/ViewControllers/BrowseSearchVC.swift
  Ounce/Ounce/Secene/Browse/ViewControllers/BrowseVC.swift
  Ounce/Pods/Pods.xcodeproj/xcuserdata/Junhyeon.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: View, enhancement

#45 update : #42 해결
  Ounce/Ounce/Secene/Browse/ViewControllers/BrowseSearchVC+Constraint.swift
  Ounce/Ounce/Secene/Browse/ViewControllers/BrowseSearchVC.swift
Labels: enhancement

#54 Feature/#38
  Ounce/Ounce.xcodeproj/project.pbxproj
  Ounce/Ounce.xcworkspace/xcuserdata/psychehose.xcuserdatad/UserInterfaceState.xcuserstate
  Ounce/Ounce/Global/Models/SoicialList.swift
  Ounce/Ounce/Global/Supporting Files/Info.plist
  Ounce/Ounce/Secene/Social/Cells/AcquaintanceTVC.swift
  Ounce/Ounce/Secene/Social/Cells/AcquaintanceTVC.xib
  Ounce/Ounce/Secene/Social/Cells/PageCVC.swift
  Ounce/Ounce/Secene/Social/Cells/SocialListTVC.swift
  Ounce/Ounce/Secene/Social/Cells/TabCVC.swift
  Ounce/Ounce/Secene/Social/Cells/TabCVC.xib
  Ounce/Ounce/Secene/Social/ViewControllers/SocialVC + Constraints.swift
  Ounce/Ounce/Secene/Social/ViewControllers/SocialVC.swift
  Ounce/Pods/Pods.xcodeproj/xcuserdata/psychehose.xcuserdatad/xcschemes/xcschememanagement.plist
Labels: View, enhancement

#60 refactor: 네비게이션, 오토레이아웃
  Ounce/Ounce.xcworkspace/xcuserdata/psychehose.xcuserdatad/UserInterfaceState.xcuserstate
  Ounce/Ounce/Secene/Browse/Cells/BrowseCVCell + Constraint.swift
  Ounce/Ounce/Secene/Browse/Cells/BrowseCVCell.swift
  Ounce/Ounce/Secene/Login/ViewControllers/LoginVC.swift
  Ounce/Ounce/Secene/Social/Cells/AcquaintanceTVC.swift
  Ounce/Ounce/Secene/Social/Cells/TabCVC.swift
  Ounce/Ounce/Secene/Social/Storyboards/Social.storyboard
  Ounce/Ounce/Secene/Social/ViewControllers/SocialVC + Constraints.swift
  Ounce/Ounce/Secene/Social/ViewControllers/SocialVC.swift
Labels: enhancement
